# Gradle build files and directories
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Log files
*.log

# IDE Files
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/
.DS_Store
Thumbs.db
